.project-page{
    margin: 36px;
    background-color: #F3ECE3;
}

.project-title{
    font-weight: bolder;
}

.project-img{
    width: 100%;
    margin: 20px 0;
}

.project-title{
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin: 0;
}

.project-status{
    font-style: italic;
    margin-top: 4px;
    font-size: 20px;
}

.project-description{
    font-size: 16px;
    font-weight: 500;
    margin-top: 4px;
    margin-bottom: 20px;
}

.project-tags{
    margin: 4px 0;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    color: #375B25;
}

.project-links{
    font-size: 24px;
    color: #375B25;
    text-overflow: ellipsis;
    overflow: hidden;
}

.project-links:visited{
    color: black;
}