.container{
    display: flex;
    flex-direction: collumn;
    width: 100vw;
    height: 100vh;
}

h1{
    font-size: 48px;
    font-weight: normal;
    margin: 72px;

    line-height: 1;
}

span{
    font-weight: bold;
}

.container-links {
    display: block;
    margin: 0 72px 0px 72px;
}

.link{
    font-size: 28px !important;
    color: #375B25;

    line-height: 1;
}

.link:visited{
    color: black;
}

.img-space{
    width: 50%;
    height: 100%;
    background-color: #375B25;
}